h1, h3 {
  text-align: center;
  color: #2d2d2d;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
}

.container {
    text-align: center;
}


.table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 100px;
}

th, td {
  text-align: center;
}

option {
  text-align: center;
}